# Python
__pycache__/
venv/
*.pyc

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data
data/

# Environment variables
.env

# Ignore Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
*.tfstate.backup